*{
    margin: 0;
    padding: 0;
}

.main-nav{
    display: flex;
    justify-content: space-around;
    background-color:rgb(255, 248, 248);
}

.main-nav-img{
    display: flex;
    justify-content:center;
    align-items: center;
}

.main-nav-img img{
    height: 35px;
    width: 80px;
}

.main-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.main-nav ul a{
    text-decoration: none;
    color: #404041;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-sign{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-news{
    border-bottom: 5px solid rgb(156, 42, 42);
}

/* News Nav Styling */
.news-nav{
    background-color:#404041;
    display: flex;
    justify-content:space-around;
    padding: 10px;
}

.news-nav ul{
    list-style-type: none;
    display: flex;
    justify-content:flex-start;
}

.news-nav h3 a{
    text-decoration: none;
    color:white;
    font-size: 23px;
}

.news-nav ul a{
    text-decoration: none;
    color:white;
    padding:15px;
}